{{ block "main" . }}
<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>GoLang + HTMX</title>
    <base href="/">
    <!-- Load Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Load HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <!-- Load Hyperscript -->
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <!-- Load RequireJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
    <!-- Load CodeMirror -->
    <link rel="stylesheet" href="js/lib/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="js/lib/codemirror/theme/darcula.css">

    <!-- Material icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100" rel="stylesheet" />
    
    <script src="js/codemirror.js"></script>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body class="flex min-h-screen bg-white antialiased">
    <div class="w-full h-full ml-64 overflow-x-hidden">
      <sidebar class="h-full border-r border-zinc-900/10 px-6 py-4 fixed inset-0 flex-col w-64">
          <div class="flex">
            <a href="/" class="p-4 text-violet-700">
              UiRunner
            </a>
          </div>
          <div class="flex">
            {{ template "endpoints" . }}
          </div>
      </sidebar>
      <div id="content" class="h-full content py-4 px-12">
        {{ template "content" . }}
      </div>
    </div>
  </body>
</html>
{{ end }}
